@import './grid.scss';

html {
    background: linear-gradient(to right, #4568dc, #b06ab3);
    font-family: "montserrat";
}

body {
    padding-top: 50px;
}

header {
    .branding-lul {
        font-size: 70px;
        text-align: center;
    }

    h1 {
        color: white;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }
}

small {
    color: white;
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 10px 0;
}